  <div class="row">
  	<div class="col-md-12">
      <%= form_for(:campu, :url => university_campus_path(params[:university_id]), html: {class: "form-horizontal", role: "form"}) do |f| %>
      <% if @campu.errors.any? %>
      <div class="alert alert-danger">
        <a class="close" data-dismiss="alert">&#215;</a>
        <ul>
          <% @campu.errors.full_messages.each do |msg| %>
          <%= content_tag :li, msg, :id => "error_#{msg}" if msg.is_a?(String) %>
          <% end %>
        </ul>
      </div>
      <% end %>
       <fieldset>
        <legend>Novo Câmpus</legend>

        <%= render 'form', :f => f %>

      </fieldset>
      <% end %>
    </div>
  </div>

