<h3>Detalhes do Curso</h3>
<p></p>
<p><strong>ID:</strong> <%= @course.id %></p>
<p><strong>Nome:</strong> <%= @course.name %></p>

<%= link_to("Voltar", university_campu_department_courses_path, class: "btn btn-success pull-right", title: "Voltar") %>
